<a href="https://colab.research.google.com/github/alsgud2659/ai/blob/main/Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#####################################################
# 리스트 List  튜플 Tuple  딕셔너리 DIct  셋  Set
#####################################################
# 여러개의 값을 한번에 저장하는 자료형이 필요하다.  

# 리스트 List 
# 지금까지 사용한 숫자 1, 문자1 등 개별적, 독립적인 자료가 아닌
# 리스트는 이러한 자료들 여러개를 모아서 사용할 수 있게 해준다. 
# 리스트에 넣는 자료를 요소element 라고한다. 

# 리스트는 []로 구성한다. 
list = [1,2,3,4,5]
print(list)
# 리스트는 다양한 자료형의 데이터를 한번에 담을 수 있다. 
# (but, 하나의 리스트에는 한가지 자료형만 저장하는 것이 오히려 바람직하다. )
list = [1,2,3,'대한','민국', True, False]
print(list)
score = [80,90,70,60]
print(score)
# 리스트는 인덱싱indexing과 슬라이싱slicing이 가능하다. 
print(score[0])   #파이썬은 0부터 시작한다. 
print(score[0:2]) # 슬라이싱은 0부터 2미만...처럼    끝은 미만을 나타낸다.  

#리스트는 수정/삭제 가 가능하다. (mutable, 튜플은 immutalble)
score[0] = 100
print(score)
score[-1] = 100
print(score)
# score[4]  # indexerror 아주 많이 접하게 될 에러(예외)

# 리스트는 연산이 가능하다. 
list_a = [1,2,3]
list_b = [4,5,6]

print('list_a = ', list_a)
print('list_b = ', list_b)
print(list_a + list_b)
print(list_a * 3)
print(len(list_a))

In [2]:
# 리스트에 많이 사용되는 함수들
# append(*****) 리스트에 요소를 추가할 때 사용

score = [80,90,70,60]
print(score)

score.append(60)
print(score)

score.append(70)
print(score)

[80, 90, 70, 60]
[80, 90, 70, 60, 60]
[80, 90, 70, 60, 60, 70]

In [7]:
#insert() 리스트에 요소를 추가할 때 사용, 특정 위치를 지정하여 추가
score = [80,90,70,60]
score.insert(0, 10)
print(score)

score.insert(-1, 50)
print(score)

list = []
list.insert(0, 10)
print(list)

list.insert(-1, 50)
print(list)

[10, 80, 90, 70, 60]
[10, 80, 90, 70, 50, 60]
[10]
[50, 10]

In [8]:
list_a = [1,2,3]
list_a.extend([4,5,6])
list_a

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1,2,3]
list_b = [4,5,6]
print(list_a + list_b)
print(list_a) # 비파괴적 처리

# 리스트 연결만으로는 list_a에 어떠한 영향도 주지 않는다. (비파괴적 처리)
# 하지만 extend()를 사용하면 list_a에 직접적으로 영향을 주게된다.(파괴적 처리)

# 기본적으로 자료를 사용할 때는 비파괴적으로 사용하는 것이 바람직하다.
# 가능하면 원본 데이터는 그대로 유지하고 사용하는 것이 선택지가 넓다.

In [14]:
# del() 리스트에서 인덱스 위치 데이터 삭제

list_a = [0,1,2,3,4,5]
del list_a[1] # index 값으로 위치값을 삭제
print(list_a)

del list_a[1:3] # 1부터 3미만 즉 2까지
print(list_a)

del list_a[:] # 생략하면 처음부터 끝까지
print(list_a)

# list_a.clear() 리스트 요소를 전부 한번에 삭제

[0, 2, 3, 4, 5]
[0, 4, 5]
[]

In [11]:
# pop() 리스트에서 마지막 위치 데이터 삭제

list_a = [0,1,2,3,4,5]
list_a.pop()
print(list_a)
list_a.pop(1)
print(list_a)

[0, 1, 2, 3, 4]
[0, 2, 3, 4]

In [16]:
# remove 값으로 삭제

list_c = [1,2,1,2]
list_c.remove(2) # remove는  요소의 값을 찾아 삭제한다.
                 # 동일한 값이 여러개 있을 때는 하나씩 순차적으로 삭제한다.
                 # 리스트에서 중복된 여러개의 값을 제거하려면 반복문을 사용한다.
print(list_c)
list_c.remove(2)
print(list_c)

[1, 1, 2]
[1, 1]

In [17]:
list = [1,2,3,4,5]
print(list[0]) # indexing 비파괴적으로 동작한다.
print(list)

print(list.pop()) # pop은 파괴적으로 동작한다.
print(list)

1
[1, 2, 3, 4, 5]
5
[1, 2, 3, 4]

In [19]:
# in / not in 리스트에 존재하는 요소인지 확인

list = [222,434,65,123,547,876]
print(222 in list)

print(221 in list)

print(221 not in list)

True
False
True

In [21]:
# Dict 딕셔너리 (jave의 map, js의 json과 유사한 자료구조)
# 리스트가 인덱스를 기반으로 값을 저장한다면 딕셔너리는 키값을 기반으로 값을 저장한다.

# {}를 사용하여 데이터를 저장한다.
# 삽입 / 삭제가 가능하다. (mutable)
# 순서가 없으므로 인덱싱과 슬라이싱이 불가능하다.

dict = {
    "no" : 1,
    "name" : "엔드 게임",
    "type" : "히어로 무비",
    "price" : 10000
}

print(dict)
print(dict['name'])

{'no': 1, 'name': '엔드 게임', 'type': '히어로 무비', 'price': 10000}
엔드 게임

In [22]:
dict = {
    "감독" : ["안소니", "루소"],
    "배우" : ["타노스", "토르", "헐크"]
}

print(dict['감독'])

['안소니', '루소']

In [29]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고', '설탕', '색소'],
    'origin' : '필리핀'
} 

print('name:', dict['name'])
print('type:', dict['type'])
print('ingredient:', dict['ingredient'])
print('origin:', dict['origin'])

dict['name'] = '망고'
print('name:', dict['name'])

print(dict['ingredient'][0])

dict['price'] = 5000
print(dict)

dict['price'] = 4000
print(dict)

del dict["price"]
print(dict)

name: 건조 망고
type: 절임 과일
ingredient: ['망고', '설탕', '색소']
origin: 필리핀
name: 망고
망고
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 5000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀', 'price': 4000}
{'name': '망고', 'type': '절임 과일', 'ingredient': ['망고', '설탕', '색소'], 'origin': '필리핀'}

In [31]:
dict = {}

dict['name'] = '새이름'
dict['height'] = 185
dict['weight'] = 75

print(dict)
del dict['weight']
print(dict)

{'name': '새이름', 'height': 185, 'weight': 75}
{'name': '새이름', 'height': 185}

In [32]:
# dict 자주 등장하는 에러(예외)

#KeyError 리스트에서 없는 인덱스에 접근하려고 하면 IndexError가 발생되는 것 처럼
#딕셔너리에서도 존재하지 않는 키값을 사용하면 예외 또는 에러를 발생시킨다.

dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고', '설탕', '색소'],
    'origin' : '필리핀'
} 

del dict['nane']

KeyError: ignored

In [34]:
dict = {
    'name' : '건조 망고',
    'type' : '절임 과일',
    'ingredient' : ['망고', '설탕', '색소'],
    'origin' : '필리핀'
} 

key = input('삭제를 원하는 데이터의 키값을 입력하세요 : ')

if key in dict:
  print(dict[key])
else:
  print('존재하지 않는 키에 접근하고 있습니다..')

print(dict)

삭제를 원하는 데이터의 키값을 입력하세요 : 456456
존재하지 않는 키에 접근하고 있습니다..

In [36]:
# 튜플 tuple
# ()를 사용하여 작성한다.
# 리스트와 거의 대부분 유사하나, 튜플은 삽입, 수정 등이 불가능하다. (immutable)
# 튜플은 1개의 원소로 작성할 때는 ','를 삽입한다. ex) (1,)
# 튜플은 괄호를 생략할 수 있다.

t = (1,2)
print(t)
print(type(t))

t2 = 3,4
print(t2)
print(type(t2))

t3 = (5)          # (5) == 5
print(t3)
print(type(t3))

(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
5
<class 'int'>

In [ ]:
t = (1,2,3,4,5)
# t[0] = 8 튜플은 수정이 불가능 하다. Immutable

# del t[0] 튜플은 삭제가 불가능 하다. Immutable

In [38]:
t = (1,2,3,4,5)

print(t[1])  # 튜플은 인덱싱이 가능하다.
print(t[2:]) # 튜플은 슬라이싱이 가능하다.

2
(3, 4, 5)

In [41]:
t1 = (1,2,3,4,5)
t2 = (6,7,8,9)

print(t1 + t2)
print(t1)
print(t2)

print(t1 * 3)
# 비파괴적 연산은 가능하다.

(1, 2, 3, 4, 5, 6, 7, 8, 9)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [43]:
# Set 집합
# {}를 사용하여 작성한다.
# 중복을 허용하지 않는다.
# 순서가 없다. (Unordered) 리스트나 튜플은 순서가 있기 때문에 Ordered 인덱싱과 슬라이싱을 통해
# 값을 꺼낼 수 있지만, 딕셔너리와 셋은 순서가 없어 불가능 하다.
# 중복을 허용하지 않는다는 특성을 활용하여 중복 제거 필터용으로 많이 사용된다.
# set 자료형에 저장된 값을 꺼내려면 리스트나 튜플로 변환하여 사용한다.
# mutable 수정 / 삭제가 가능하다.

set = {1,1,2,2,2,3,4}
print(set)

# print(set[0]) 순서가 없기 때문에 불가능

{1, 2, 3, 4}

In [4]:
s1 = set([1,1,1,2,2,3])
print(type(s1))
print(s1)

li = list(s1)
print(type(li))
print(s1)
print(li[0])

# 리스트에서 중복된 값을 없애기 위해서 set으로 형변환 후 다시 리스트로 형변환을 한다.

<class 'set'>
{1, 2, 3}
<class 'list'>
{1, 2, 3}
1

In [11]:
# 집합 계산

set1 = {1,2,3}
set2 = {2,3,4}

print(type(set1))
print(type(set2))

# 양쪽 집합에 공통적으로 포함되는 원소 -> 교집합
print(set1 & set2)
print(set1.intersection(set2))

# 양쪽 집합의 모든 원소 -> 합집합
print(set1 | set2)
print(set1.union(set2))

# 두개 집합의 차 -> 차집합
print(set1 - set2)
print(set1.difference(set2))

<class 'set'>
<class 'set'>
{2, 3}
{2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1}
{1}

In [19]:
# set에서의 삽입

set1 = {1,2,3,}
print(set1)

set1.add(4)
print(set1)

set1.update([5,6,7,8])
print(set1)

# set에서의 삭제
# set은 인덱스 개념이 존재하지 않는다. 따라서 값을 지정하여 직접 삭제한다.

set1.remove(4)
print(set1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 5, 6, 7, 8}

In [23]:
# Q1

stu_id = input('학번을 입력하세요')

print(stu_id[0],'학년', stu_id[1],stu_id[2],'반', stu_id[3],stu_id[4],'번')
print(f'{stu_id[0]}학년 {stu_id[1:3]}반 {stu_id[3:]}번')

학번을 입력하세요31025
3 학년 1 0 반 2 5 번
3학년 10반 25번

In [66]:
# Q2

car = input('차량번호를 입력하세요')

print(f'{car}의 차량번호 끝 4자리는 {car[-4:]}입니다')

차량번호를 입력하세요서울2가 1234
서울2가 1234의 차량번호 끝 4자리는 1234입니다

In [41]:
# 인덱싱과 슬라이싱을 사용하지 않고
# name = 'austin' 가운데 글자를 추출하는 프로그램

name = input('홀수 갯수의 문자열을 입력하세요')
mid = int(len(name) / 2)
mid2 = len(name) // 2

print(name[mid])
print(name[mid2])

홀수 갯수의 문자열을 입력하세요austin
t
t

In [46]:
# [1,2,3,4,5,6,7,8,9]의 3번째 요소부터 7번째 요소만 추출한 결과에서
# 2번째 요소를 출력하는 프로그램

list = [1,2,3,4,5,6,7,8,9,10]
print(list[2:7][1])

4

In [48]:
###########################
# if
###########################

# 특정 조건을 만족하는지 여부에 따라 실행되는 코드가 달라져야 할 때 사용된다.
# 날씨가 맑으면 소풍을 가고 아니면 공부를 한다.


if True:
  print('만족')
else:
  print('불만족')

if False:
  print('만족')
else:
  print('불만족')

만족
불만족

In [50]:
age = int(input('나이를 입력하세요'))

if age >= 18:
  print('당신은 성인입니다.')
else:
  print('당신은 성인이 아닙니다.')

나이를 입력하세요15
당신은 성인이 아닙니다.

In [51]:
age = int(input('나이를 입력하세요'))

if age < 10:
  print('당신은 유아 입니다.')
elif age < 20:
  print('당신은 10대입니다..')
elif age < 30:
  print('당신은 20대입니다.')
elif age < 40:
  print('당신은 30대입니다..')
elif age < 50:
  print('당신은 40대입니다.')
elif age < 60:
  print('당신은 50대입니다..')
elif age < 70:
  print('당신은 60대입니다.')
else:
  print('당신은 노인입니다.')

나이를 입력하세요22
당신은 20대입니다.

In [56]:
score = int(input('당신의 점수를 입력하세요'))

if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
elif score < 60:
  grade = 'F'
else:
  print('유효한 점수가 아닙니다.')

print(f'당신의 점수는 {score}이고 학점은 {grade}입니다')

당신의 점수를 입력하세요78
당신의 점수는 78이고 학점은 C입니다

In [59]:
num = int(input('정수를 입력하세요'))

if num % 3 == 0:
  print(f'{num}은 3의 배수 입니다.')
else:
  print(f'{num}은 3의 배수가 아닙니다.')

정수를 입력하세요14
14은 3의 배수가 아닙니다.

In [64]:
num1 = int(input('정수1 입력'))
num2 = int(input('정수2 입력'))
num3 = int(input('정수3 입력'))

if num1 > num2:
  if num1 > num3:
    max = num1
elif num2 > num3:
  max = num2
else:
  max = num3

print(max)

정수1 입력3
정수2 입력2
정수3 입력1
3