<a href="https://colab.research.google.com/github/alsgud2659/ai/blob/main/Day03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
score = int(input('당신의 점수를 입력하세요'))
grade = ''

if score >= 90:
  grade = 'A'
elif score >= 80:
  grade = 'B'
elif score >= 70:
  grade = 'C'
elif score >= 60:
  grade = 'D'
else:
  grade = 'F'

if int(score%10) >= 4:
  addi = 'O'
elif int(score%10) >= 7:
  addi = '+'
else:
  addi = '-'

print(f'당신의 점수는 {score}이고 학점은 {grade}{addi}입니다.')

당신의 점수를 입력하세요95
당신의 점수는 95이고 학점은 AO입니다.

In [ ]:
###################
# while
###################

# 반복문은 작업 수행을 한번이 아니라 계속해서 수행해야 할 때 사용한다.
# while 반복 작업을 몇 번 수행할지 확실하지 않을 때 주로 사용한다.

while True:
  print('운동장 돌기')

In [15]:
n = 1
while n <= 10:
  print(n)
  n += 1

print('-----------')
print(n)

1
2
3
4
5
6
7
8
9
10
-----------
11

In [20]:
n = 10
while n >= 1:
  print(n)
  n -= 2

10
8
6
4
2

In [22]:
list = []
while True:
  num = int(input("정수입력"))
  if num == 0:
    break

  list.append(num)

print(list)

정수입력1
정수입력2
정수입력3
정수입력0
[1, 2, 3]

In [29]:
# while 중첩
# while 내부에 또 다른 while을 사용하는것을 중첩이라고 한다.

day = 1
time = 1

while day <= 3:
  while time <= 3:
    print(f'{day}일차 {time}교시입니다.')
    time += 1
  day += 1
  time = 1

1일차 1교시입니다.
1일차 2교시입니다.
1일차 3교시입니다.
2일차 1교시입니다.
2일차 2교시입니다.
2일차 3교시입니다.
3일차 1교시입니다.
3일차 2교시입니다.
3일차 3교시입니다.

In [32]:
num1 = 2
num2 = 1

while num1 <= 9:
  while num2 <= 9:
    print(f'{num1} * {num2} = {num1 * num2}')
    num2 += 1
  num2 = 1
  num1 += 1

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [55]:
loop = int(input('정수를 입력하세요'))
num = 1

if loop <= 0:
  print('잘못된 입력입니다.')
  
while loop > 0:
  print(f'{num}번째 Hello')
  num += 1
  loop -= 1

정수를 입력하세요3
1번째 Hello
2번째 Hello
3번째 Hello

In [54]:
num = 1

while num <= 100:
  if num % 7 == 0:
    print(num)
  num += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [61]:
money = int(input('자판기에 얼마를 넣을까요'))
cup = 0

while money > 299:
  cup += 1
  money -= 300
  print(f'커피{cup}잔 잔돈{money}')

자판기에 얼마를 넣을까요1499
커피1잔 잔돈1199
커피2잔 잔돈899
커피3잔 잔돈599
커피4잔 잔돈299

In [83]:
set1 = set([])

while len(set1) <= 4:
  num = int(input('0 부터 9까지의 정수를 입력해주세요'))
  set1.add(num)
  print(len(set1))
  print(set1)
  
print('5개의 정수가 모두 입력되었습니다.')
print(f'입력된 값은 {set1}')

0 부터 9까지의 정수를 입력해주세요1
1
{1}
0 부터 9까지의 정수를 입력해주세요1
1
{1}
0 부터 9까지의 정수를 입력해주세요2
2
{1, 2}
0 부터 9까지의 정수를 입력해주세요3
3
{1, 2, 3}
0 부터 9까지의 정수를 입력해주세요4
4
{1, 2, 3, 4}
0 부터 9까지의 정수를 입력해주세요5
5
{1, 2, 3, 4, 5}
5개의 정수가 모두 입력되었습니다.
입력된 값은 {1, 2, 3, 4, 5}

In [105]:
num = 1

while num <= 100:
  print(num, end = '\t')
  if num % 10 == 0:
    print('\n')
  num += 1

1	2	3	4	5	6	7	8	9	10

11	12	13	14	15	16	17	18	19	20

21	22	23	24	25	26	27	28	29	30

31	32	33	34	35	36	37	38	39	40

41	42	43	44	45	46	47	48	49	50

51	52	53	54	55	56	57	58	59	60

61	62	63	64	65	66	67	68	69	70

71	72	73	74	75	76	77	78	79	80

81	82	83	84	85	86	87	88	89	90

91	92	93	94	95	96	97	98	99	100

In [107]:
#############
# for
#############

# 몇번 반복시킬지 그 횟수가 명확할 때 주로 사용한다.

# for 변수 in 반복시킬 값들:
#   반복실행문

# 리스트
# for i in [1,2,3]:
#   print(i)

# 문자열
# for i in 'hello':
#   print(i)

# 튜플
# for i in (1,2,3):
#   print(i)

# range()
for i in range(1,4):  # range(시작(생략가능), 끝(미만), 스텝(생략가능))
  print(i)

# set, dict는 순서와 상관없이는 사용 가능

1
2
3

In [118]:
password = input('비밀번호를 입력하세요')
alp = 0
num = 0

for ch in password:
  if ch.isalpha():
    alp += 1
  elif ch.isnumeric():
    num += 1
  
if alp == 0 or num == 0:
  print('불가능한 비밀번호입니다.')
else:
  print('사용가능한 비밀번호입니다.')

비밀번호를 입력하세요qwefasdf
불가능한 비밀번호입니다.

In [ ]:
# range([start], stop, [step])

# 숫자들은 컬렉션으로 만든다.
# start를 생략하면 0부터 시작한다.
# stop은 생략할 수 있다.
# step을 생략하면 1씩 증가한다.

In [119]:
num = int(input('출력할 구구단을 입력하세요'))

for i in range(1,10,1):
  print(f'{num} * {i} = {num * i}')

출력할 구구단을 입력하세요5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [122]:
# set, dict도 for문으로 사용은 가능하나 순서는 보장하지 않는다.

for i in {'가위','바위','보'}:
  print(i)

바위
가위
보

In [123]:
person = {
    'name': '에밀리',
    'age' : '20'
}

for i in person:
  print(i)

for i in person:
  print(person[i])

name
age
에밀리
20

In [126]:
num = int(input('양의 정수 하나를 입력해주세요'))

sum = 0

for i in range(1,num + 1,1):
  sum += i

print(f'1부터 {num}사이의 모든 정수의 합계는 {sum}입니다.')

양의 정수 하나를 입력해주세요4
1부터 4사이의 모든 정수의 합계는 10입니다.

In [129]:
num = int(input('몇개의 과일을 보관할까요'))
basket = []
mid = ''
for i in range(1, num + 1):
  mid = input(f'{i}번째 과일을 입력해 주세요')
  basket.append(mid)

print(f'입력받은 과일들은 {basket}입니다.')

몇개의 과일을 보관할까요2
1번째 과일을 입력해 주세요사과
2번째 과일을 입력해 주세요배
입력받은 과일들은 ['사과', '배']입니다.

In [141]:
str_i = ''
for i in range(1, 100):
  str_i = str(i)
  if '3' in str_i or '6' in str_i or '9' in str_i:
    str_i = '짝'
  
for j in range(0, 10, 1):
  for k in range(0, 10, 1):
    print(str_i, end='\t')
  print('\n')

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

짝	짝	짝	짝	짝	짝	짝	짝	짝	짝

In [143]:

for i in range(1, 100):
    str_i = str(i)
    count = 0
    ending = '\t'
    for j in str_i:
        if j == '3' or j == '6' or j == '9':
            count += 1
    if i % 10 == 0:
        ending = '\n'
    if count == 0:
        print(i, end = ending)
    else:
        print(count * '짝', end = ending)

1	2	짝	4	5	짝	7	8	짝	10
11	12	짝	14	15	짝	17	18	짝	20
21	22	짝	24	25	짝	27	28	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	40
41	42	짝	44	45	짝	47	48	짝	50
51	52	짝	54	55	짝	57	58	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝	70
71	72	짝	74	75	짝	77	78	짝	80
81	82	짝	84	85	짝	87	88	짝	짝
짝	짝	짝짝	짝	짝	짝짝	짝	짝	짝짝